@font-face {
  font-family: ITC Eras Demi;
  src: url('/ITC Eras Demi.ttf');
}



.header{
  /* background-color: var(--blanco); */
  border-bottom: solid 1px white;
  position: absolute;
  width: 100%;
  top: 0px;
  height: 111px;
  z-index: 99;
  /* max-height: 22px; */
}

.footer{
  position: absolute;
  bottom:0;
  height: 44px;
  width: 100%;
  /* padding: 0; */
  /* display: flex; */
  /* flex: 1; */
  border-top: 1px solid var(--negro);
  /* background-color: orange; */
  justify-content: center;
  align-items: center;

}

.footer a {
  display: flex;
  color: var(--negro);
  justify-content: center;
  align-items: center;
  background-color: var(--blanco);
}

.footer a:hover{
  transition: .3s;
  color: white;
  border: 1px solid white;
}

.footer p{
  padding: .2rem;
  border-radius: .1rem;
  border: solid 1px var(--negro);

}