@font-face {
  font-family: ITC Eras Demi;
  src: url('/ITC Eras Demi.ttf');
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.video{
  position:absolute;
  min-height: 100vh;
  width: 100%;
  left:0;
  top:0;
  object-fit: cover;
  z-index: 3;
}
.divVideo{
  position:absolute;
  min-height: 100vh;
  width: 100%;
  left:0;
  top:0;
  background-color: var(--negro);
  opacity: 0.5;
  mix-blend-mode: overlay;
  z-index: 5;
}


